* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
}

body {
	background: url("backgroundimg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #051a26;
	font-family: "Poppins", sans-serif;
}

.headerDiv {
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 60px;
	text-transform: lowercase;
	margin: 100px;
}

#mainDiv {
	display: flex;
	justify-content: center;
}

#textSpan {
	font-size: 24px;
}
